aniso8601==9.0.1
attrs==22.2.0
click==7.1.2
Flask==1.1.2
flask-restx==1.0.3
Flask-SQLAlchemy==2.5.1
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==4.17.3
MarkupSafe==1.1.1
pyrsistent==0.19.3
pytz==2021.1
six==1.15.0
SQLAlchemy==1.4.4
SQLAlchemy-Utils==0.36.8
Werkzeug==1.0.1
